.page-title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.transaction-name {
    grid-area: item-a;
}

.transaction-category {
    grid-area: item-b;
}

.transaction-date {
    grid-area: item-c;
}

.transaction-amount {
    grid-area: item-d;
}

.transaction-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "item-a item-c"
        "item-b item-d"
    ;
}