:root {
    /* Beige */
    --beige-100: #F8F4F0;
    --beige-500: #98908B;
    --grey-900: #201F24;
    --grey-500: #696868;
    --grey-300: #B3B3B3;
    --grey-100: #F2F2F2; 
    /* Secondary */
    --secondary-green: #277C78;
    --secondary-red: #C94736;
    --secondary-yellow: #F2CDAC;
    --secondary-cyan: #82C9D7;
    --secondary-navy: #626070;
    --secondary-purple: #826CB0;
    /* Others */
    --other-purple: #AF81BA;
    --other-turquoise: #597C7C;
    --other-brown: #93674F;
    --other-magenta: #934F6F;
    --other-blue: #3F82B2;
    --other-navy-gray: #97A0AC;
    --other-army-green: #7F9161;
    --other-gold: #CAB361;
    --other-orange: #BE6C49;

    --white: #FFFFFF;
}

@font-face {
    font-family: "Public Sans";
    src: url("../../../public/assets/fonts/PublicSans-VariableFont_wght.ttf") format("truetype");
}

.text-preset-1 {
    font-family: "Public Sans", sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 120%;
    letter-spacing: 0px;
}

.text-preset-2 {
    font-family: "Public Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 120%;
    letter-spacing: 0px;
}

.text-preset-3 {
    font-family: "Public Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 150%;
    letter-spacing: 0px;
}

.text-preset-4 {
    font-family: "Public Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 150%;
    letter-spacing: 0px;
}

.text-preset-5 {
    font-family: "Public Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0px;
}

body {
    margin: 0;
    padding: 24px 16px;
    box-sizing: border-box;
    background-color: var(--beige-100);
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--grey-900);
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

nav ul {
    display: flex;
    justify-content: space-evenly ;
    background-color: var(--grey-900);
    padding-left: 0;
}

nav li {
    list-style-type: none;
    padding: 8px;
}

.nav-btn {
    width: 24px;
}

.page-title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

p {
    padding: 0;
    margin: 0;
}

.transaction-container {
    background-color: var(--white);
    border-radius: 12px 12px 0px 0px;
    padding: 24px 20px;
}

.transaction-image {
    grid-area: item-a;
    align-self: center;
    border-radius: 50px;
    width: 32px;
}

.transaction-name {
    grid-area: item-b;
    font-size: 14px;
    font-weight: bold;
    align-self: start;
}

.transaction-category {
    grid-area: item-c;
}

.transaction-date {
    grid-area: item-d;
    justify-self: end;
}

.transaction-amount {
    grid-area: item-e;
    justify-self: end;
}

.transaction-item {
    display: grid;
    
    grid-template-columns: 44fr 147fr 112fr;
    grid-template-rows: 21.5px 21.5px;
    grid-template-areas: 
        "item-a item-b item-e"
        "item-a item-c item-d"
        "hr hr hr"
    ;
}

.hr {
    border: 1px solid var(--grey-100);
    grid-area: hr;
    margin: 16px 0;
    width: 100%;
}

.pagination {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    padding-bottom: 20px;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 8px 12px;
    border: none;
    background-color: var(--grey-300);
    cursor: pointer;
  }
  
  .pagination button.active {
    background-color: var(--secondary-green);
    color: white;
  }